.blogblade {
    padding-bottom: 190px;
    background-color: white;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;

    .bhero {
        padding-top: 190px;

        .col-lg-10{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-inline: 0;
        }

        .page-title{
            max-width:450px;
        }

        .element{
            max-width:350px;
        }

        .circle-div {
            border-radius: 100%;
            width: 335px;
            height: 335px;
            background-color: #ebe9fb;
            position: relative;
        }

        .circle-div div{
            border: 1px solid #3a337c;
            border-radius: 100%;
            background-color: #3a337c;
            position: absolute;
        }

        .circle-div .small {
            width: 38px;
            height: 38px;
            top: 230px;
            left: -50px;
        }

        .circle-div .medium {
            width: 52px;
            height: 52px;
            top: 0;
            left: 40px;
        }

        .circle-div .large {
            width: 83px;
            height: 83px;
            bottom: 20px;
            left: 250px;
        }
    }


    .news{
        margin-top: 95px;
        .htessera {
            margin-top: 0;
            .container{
                max-width:1215px;
            }

            .small-title,
            .section-title{
                display: none;
            }

            .news-list{
                display: flex;
                flex-direction: column;
                border-top: 1px solid #d8d8dd;
                border-bottom: none;
                margin-block:0;
                &:nth-of-type(4){
                    border-bottom: 1px solid #d8d8dd;
                }
            }

            .news-info{
                margin-top: 65px;
                display: flex;
                 justify-content:space-between;
            }

            .news-info h4 {
                margin: 10px 0;
                color: #3a337c;
                font-size: 28px;
                font-weight: 400;
                line-height: 40px;
                max-width: 750px;
                text-align: left;
            }
            .html-content{
                margin-top: 25px;
                padding-bottom: 65px;
            }

            .news-info h4:hover {
                color: #7c74c7;
            }
            .html-content p:hover {
                color: #7c74c7;
            }

            .click-info {
                position: relative;
                margin-top: 30px;
            }
            .circle-btn-blue {
                background-color: #3a337c;
                border: none;
                min-width: 55px;
                height: 55px;
                border-radius: 100%;
                margin-right: 30px;
                position: absolute;
                bottom: 15px;
                opacity: 0;
                transition: 0.3s ease;
            }
            .circle-btn-blue img {
                margin-top: 20px;
                opacity: 0;
                position: absolute;
                left:40%;
            }

            .circle-btn {
                border: 1px solid #3a337c;
                min-width: 55px;
                height: 55px;
                border-radius: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 30px;
                transition: 0.3s ease;
            }
            .click-info:hover .circle-btn {
                opacity: 0;
            }

            .click-info:hover .circle-btn-blue,
            .click-info:hover .circle-btn-blue img {
                opacity: 1;
            }
        }
    }

    @media (max-width: 992px){
        padding-block: 0;
        border-radius: 0;
        .bhero{
            .col-12{
                display: flex;
                position: relative;
                align-items: center;
                justify-content: space-evenly;
            }

            .page-title{
                z-index: 1;
                max-width: 355px;
                //position: absolute;
                //left: 50%;
                //transform: translateX(-50%);
            }
            .element{
               // margin-left: 150px;
                min-width: 200px;
                z-index: 0;
            }

            .circle-div {
                border-radius: 100%;
                width: 203px;
                height: 203px;
                background-color: #ebe9fb;
                position: relative;
            }

            .circle-div div{
                border: 1px solid #3a337c;
                border-radius: 100%;
                background-color: #3a337c;
                position: absolute;
            }

            .circle-div .small {
                width: 23px;
                height: 23px;
                top: 170px;
                left: -60px;
            }

            .circle-div .medium {
                width: 32px;
                height: 32px;
                top: 0;
                left: 20px;
            }

            .circle-div .large {
                width: 50px;
                height: 50px;
                bottom: 0;
                left: 150px;
            }
        }

        .news{
            .htessera{
                //padding-bottom:90px;
                .row{
                    min-width: 355px;
                }
                .section-title{
                    margin-top: 15px;
                    text-align: center;
                    line-height: 40px;
                    max-width: 355px;
                }

                .news-list:nth-of-type(2){
                    margin-top: 55px;
                }

                .news-list{
                    display: flex;
                    flex-direction: column;
                    border-top: 1px solid #d8d8dd;
                    margin-block:0;


                    &:nth-of-type(5){
                        border-bottom: 1px solid #d8d8dd;
                    }
                }

                .html-content{
                        line-height: 16px;
                        font-size: 16px;
                        font-weight: 400;
                        margin-top: 15px;
                        padding-bottom:40px;
                }


                .news-info{
                    margin-top: 40px;

                    h4{
                        margin: 0;
                        padding: 0;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 28px;
                        color:#3A337C;
                        max-width: 265px;
                    }
                }

                .click-info {
                    position: relative;
                    margin-top: 30px;
                    align-items: end;
                    display: flex;
                }

                .circle-btn{
                    min-width: 40px;
                    height: 40px;
                    background-color: #3A337C;
                    aspect-ratio: 1/1;
                    cursor: pointer;

                    img{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                .click-info:hover .circle-btn {
                    opacity: 1;
                }

                .click-info:hover .circle-btn-blue,
                .click-info:hover .circle-btn-blue img {
                    opacity: 0;
                }

                .primary-btn,
                .small-title,
                .section-title{
                    display: none;
                }
            }
        }
    }
}




























































/*    @media (max-width: 576px) {
        .bhero {
            position: relative;

            .row {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
            }

            h1 {
                font-size: 40px;
                font-weight: 700;

                margin: 0;
                text-align: left;
                flex: 1;
            }

            .basic {
                border-radius: 100%;
                width: 335px;
                background-color: #ebe9fb;
                position: absolute;
                object-fit: cover;
                z-index: -1;
                left: 30%;
                top: 0;
            }

            .basic .mikro {
                border: 1px solid #3a337c;
                border-radius: 100%;
                background-color: #3a337c;
                position: absolute;
                width: 38px;
                height: 38px;
                top: 5%;
                left: 70%;
            }
            .basic .mesaio {
                border: 1px solid #3a337c;
                border-radius: 100%;
                background-color: #3a337c;
                position: absolute;
                width: 52px;
                height: 52px;
                top: 0;
                left: 15%;
            }
            .basic .megalo {
                border: 1px solid #3a337c;
                border-radius: 100%;
                background-color: #3a337c;
                position: absolute;
                width: 83px;
                height: 83px;
                bottom: 10%;
                left: 70%;
            }
        }

        .htessera {
            h2 {
                font-size: 18px;
                font-weight: 400;
            }

            .how .dio .velos {
                background-color: #3a337c;
                color: white;
                width: 150px;
                height: auto;
                aspect-ratio: 1;
                border-radius: 100%;
            }
            .how .dio .velos .belos {
                font-size: 15px;
            }
            .how .dio {
                display: flex;
                justify-content: end;
                align-items: end;
                flex-direction: row;
                padding: 0;
                margin: 0;
                text-align: left;
            }

            .how .dio a,
            .how p {
                text-align: left;
            }
            .all {
                font-size: 15px;
                font-weight: 500;
            }
        }
    }
}
*/
