.categorypageblade {
    background-color: white;
    .chero {
        background-color: #F9F8FC;

        .html-content{
            margin-top: 20px;
        }
        .btns{
            padding-top: 40px;
        }

        .double-image {
            margin-top: 125px;
            margin-bottom: 50px;
        }

        .span-image {
            margin-left: 40px;
            border-radius: 100%;
            background-color: #ebe9fb;
            position: relative;
            width: 556px;
            height: 556px;
            padding-right: 10px;
        }

        .span-image img {
            position: absolute;
            right: 10px;
            width: 556px;
            height: 556px;
            border-radius: 100%;
        }

        .span-image .small {
            border: 1px solid #7c74c7;
            border-radius: 100%;
            background-color: #7c74c7;
            position: absolute;
            width: 56px;
            height: 56px;
            top: 70px;
            left: 10px;
        }

        .span-image .medium {
            border: 1px solid #7c74c7;
            border-radius: 100%;
            background-color: #7c74c7;
            position: absolute;
            width: 92px;
            height: 92px;
            top: 450px;
            left: 15px;
        }
    }

    .cena {
        padding-block: 135px;
        background-color: #ebe9fb;
        border-radius: 0 0 50px 50px;

        .paragraph{
            margin: 0;
            max-width:800px;

            .section-title{
                line-height: 60px;
            }

            .html-content{
                margin-top: 20px;
                max-width: 590px;
            }

            .btns{
                margin-top: 10px;
            }
        }

        .providelist{
            display: flex;
            max-width: 385px;
            min-height: 255px;
            padding-block: 25px;
            margin-left: 70px;
        }

        .providelist ul {
            list-style-type: none;
            display: flex;
            flex-direction: column;
        }

        .providelist ul li {
            position: relative;
            display: flex;
            align-items: center;
            gap:25px;

            line-height: 42px;
        }

        .providelist ul li::before {
            content: ">";
            font-size: 25px;
            color: #3a337c;
            position: static;
        }
    }

    .hena {
        margin-top: 110px;
        .position {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 60px;
        }

        .section-title {
            margin-inline: auto;
        }
        .html-content {
            max-width: 895px;
            margin-top: 20px;
            text-align: center;
        }

        .swiper-slide {
            padding-bottom: 25px;
        }

        .swiper-slide:nth-child(odd) {
            margin-top: 40px;
            border-radius: 20px;
        }

        .category {
            position: relative;
            border-radius: 20px;
            max-width: 100%;
        }

        a img {
            width: 100%;
            height: auto;
            aspect-ratio: 338/453;
            border-radius: 20px;
            display: block;
            object-fit: cover;
            position: relative;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #1f1b40;
            opacity: 23.68%;
            border-radius: 20px;
        }

        .hoverli:hover {
            opacity: 1;
            border-radius: 20px;
        }


        .card img:hover,
        .granazi:hover {
            opacity: 0;
        }

        .granazi {
            border: 1px solid black;
            background-color: #f6f6ff;
            width: 77px;
            height: 77px;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            bottom: -20px;
            right: 20px;
        }
        .granazi img {
            width: 34.5px;
            height: 34px;
        }

        .hoverli {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            min-height: 478px;
            opacity: 0;
            transition: opacity 0.5s ease;
            display: flex;
            flex-direction: column;
            text-align: justify;
            border-radius: 20px;
            background-color: #ebe9fb;
        }

        .slide-label p {
            position: absolute;
            top: 40px;
            left: 20px;
            color: white;
            font-size: 24px;
            font-weight: 600;
            line-height: 100%;
        }

        .hoverli ul {
            list-style: none;
            margin: 60px 35px;
            position: relative;
            display: flex;
            flex-direction: column;
        }

        .hoverli ul li {
            display: inline-flex;
            flex-direction: row;
            margin: 5px 0;
            gap:25px;
            font-size: 17px;
            font-weight: 300;
            color: #3a337c;
        }

        .hoverli ul li img {
            width: 100%;
            max-width: 6.85px;
            max-height: 10px;
            margin: 10px 0;
        }

        .viewall a {
            padding: 30px;
            font-size: 18px;
            color: #3a337c;
            text-decoration-line: underline;
            text-decoration-color: #3a337c;
            text-underline-offset: 4px;
            position: absolute;
            top:330px;
            left: 5px;
            opacity: 0;
            pointer-events: none;
        }

        .hoverli:hover ~ .viewall {
            opacity: 1;
            transition: opacity 0.5s ease;
        }


        .hoverli:hover ~ .viewall a {
            transition: opacity 0.5s ease;
            opacity: 1;
            pointer-events: none;
        }
        .primary-btn {
            margin-top: 60px;
            min-width: 205px;
            margin-inline:auto ;
        }
    }

    .hpente {
        margin-top: 0;
        .col {
            padding-block: 185px;
            background-color: #3a337c;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        .section-title {
            color: white;
            margin: 0;
            padding: 0;
        }

        .html-content p{
            color: white;
            margin-top:15px;
            text-align: center;
        }

        .primary-btn{
            min-width: 220px;
            background:white;
            color: #3a337c;
            margin-top: 35px;
            margin-inline:auto;

        }
        .primary-btn:hover{
            border:1px solid #7c74c7;
            color: white;
            background-color: #3a337c;
        }
    }


    @media (max-width: 992px) {
        .chero {
            margin-top: 90px;
            position: relative;
            .paragraph{
                align-items: center;
                justify-content: center;
                display: flex;
            }

            .page-title {
                min-width: 355px;
                text-align: center;
            }
            .html-content{
                margin-top: 5px;
                max-width: 305px;
                text-align: center;
                margin-inline: auto;
            }
            .btns {
                display: flex;
                flex-direction: column;
                margin-top: 35px;
                min-width: 355px;
                padding: 0;

                .primary-btn{
                    width: 100%;
                    font-size: 15px;
                    line-height: 16px;
                    font-weight: 500;
                    padding: 20px;

                    &.transparent{
                        background-color: white;
                    }
                }
            }
            .double-image {
                margin-block: 50px;
                align-items: center;
                justify-content: center;
                display: flex;
            }

            .span-image {
                margin-left: 40px;
                border-radius: 100%;
                background-color: #ebe9fb;
                position: relative;
                width: 340px;
                height: 340px;
                padding-right: 10px;
            }

            .span-image img {
                position: absolute;
                right: 10px;
                width: 340px;
                height: 340px;
                border-radius: 100%;
            }

            .span-image .small {
                border: 1px solid #7c74c7;
                border-radius: 100%;
                background-color: #7c74c7;
                position: absolute;
                width: 34px;
                height: 34px;
                top: 50px;
                left: 10px;
            }

            .span-image .medium {
                border: 1px solid #7c74c7;
                border-radius: 100%;
                background-color: #7c74c7;
                position: absolute;
                width: 57px;
                height: 57px;
                top: 280px;
                left: 15px;
            }

        }

        .cena {
            background-color: #ebe9fb;
            border-radius: 0 0 35px 35px;
            height: auto;
            display: flex;
            flex-direction: column;
            padding-block: 85px;

            .row {
                display: flex;
                flex-direction: column;

            }

            .paragraph{
                margin: 0;
                min-width:355px;

                .section-title{
                    line-height: 32px;
                    max-width: 290px;
                }


                .html-content{
                    margin-top: 20px;
                    min-width: 330px;
                    max-width: 355px;
                }
            }
            .btns{
                display: none;
            }

            .btn-list {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 50px;
            }

            .providelist{
                max-width: 385px;
                min-height: 255px;
                padding-block: 25px;
                margin-right: 210px;
            }

            .providelist ul {
                list-style-type: none;
                display: flex;
                flex-direction: column;
            }

            .providelist ul li {
                position: relative;
                display: flex;
                align-items: center;
                gap:25px;
                line-height: 32px;
                font-weight: 200;
                font-size: 17px;
            }

            .providelist ul li::before {
                content: ">";
                font-size: 25px;
                color: #3a337c;
                position: static;
            }
        }

        .hena {
            .pos a {
                font-size: 32px;
                font-weight: 700;
            }
            .position {
                margin-top: 70px;
                text-align: center;
                margin-inline:auto ;
                max-width: 355px;
            }

            .positions-swiper {
                overflow: visible;
            }
            .swiper-wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: auto;
                flex-shrink: 0;
                margin: 0;
                padding: 0;
            }

            .swiper-slide {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 20px 0;
                padding: 0;
            }

            .swiper-slide:nth-child(odd) {
                margin: 0;
            }

            .category {
                position: relative;
                cursor: pointer;
            }

            .category .carta {
                max-height: 300px;
                max-width: 300px;
            }

            .positions img {
                max-width: 300px;
                max-height: auto;
                aspect-ratio: 1/1;
                object-fit: cover;
            }

            .category .overlay {
                position: absolute;
                top: 0;
                left: 0;
                max-width: 100%;
                max-height: auto;
                background: #1f1b40;
                opacity: 23.68%;
                border-radius: 20px;
            }

            .granazi {
                display: none;
            }

            .hoverli {
                display: none;
            }

            .slide-label p {
                position: absolute;
                top: 30px;
                left: 20px;
                color: white;
                font-size: 24px;
                font-weight: 600;
            }
            .primary-btn{
                margin-top: 35px;
            }
        }

        .hpente{
            margin-top: 0;
        }
    }
}


