.looking-for-applicants-teliko {
    margin-top:215px;
    margin-bottom: 210px;

    .page-title{
        max-width: 625px;
        text-align: center;
        margin-inline:auto;
        margin-bottom: 50px;
    }
    .col {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .looking-for-applicants-1 {

        .input-wrapper  {
            min-width: 715px;
            background: white;
            border-radius: 50px;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color:#717178;

            label {
                margin-left: 20px;
                margin-block: 10px;
                font-weight:500;
                font-size: 18px;
                line-height: 17px;
                color: #9898A1;

            }

            img{
                margin-right: 20px;
            }

        }

        .job-list {
            min-width: 715px;
            border: 1px solid white;
            border-radius: 15px;
            background: white;
            display: block;
            margin-top: 15px;


            ul {
                padding:30px;
                max-height: 430px;
                margin: 0;
                overflow-y: scroll;
                width: 100%;
                scrollbar-color: #7c74c7;

            }

            ul li {
                list-style-type: none;
            }
            ul li a {
                color: black;
                font-size: 19px;
                font-weight: 400;
                line-height: 55px;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            ul li img{
                margin-bottom: 10px;
                color: #3a337c;
                font-size: 25px;
                transform: rotate(270deg);
            }

            ul li:hover {
                background-color: #f9f8fc;
            }

        }

        .job-list::-webkit-scrollbar-thumb {
            border-radius: 4px;
            width: 5px;
        }

    }

    .looking-for-applicants-2 {
        .page-title {
            max-width: 700px;
            text-align: center;
        }

        .input-wrapper {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            margin-top: 50px;
        }
        .for {
            width: 100%;
            max-width: 705px;
        }

        .for:first-child {
            max-width:45%;
            display: flex;
            margin-right: 15px;

        }

        .for:nth-child(2) {
            max-width:43%;
        }

        .for:nth-child(3){
            margin-top: 15px;
        }

        .for input {
            width: 100%;
            max-width: 700px;
            background-color: white;
            border-radius: 50px;
            padding: 20px;
            display: block;
            box-sizing: border-box;
        }

        .for input::placeholder{
            font-weight:500;
            font-size: 18px;
            line-height: 17px;
            color: #9898A1;
        }
        .bar{
            margin-top: 60px;
            margin-left: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            max-width: 715px;
            position: relative;

            .progress-bar {
                min-width: 300px;
                height: 4px;
                border-radius: 50px;
                margin-left: 20px;
                background-color: #d8d8dd;
            }


            .line {
                height: 100%;
                background-color: #7c74c7;
                width: 50%;
                display: block;
            }
        }


        .html-content p{
            position: absolute;
            margin-top: 15px;
            font-size: 14px;
            font-weight: 500;
            line-height: 17px;
            color: #3A337C;
        }

        .sign {
            display: flex;
            justify-content: right;
            align-items: center;
        }
        .back-sign {
            border: 1px solid #3a337c;
            width: 55px;
            height: 55px;
            border-radius: 100%;
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;

            img{
                transform:rotate(90deg);
            }
        }

        .back-sign:hover {
            background: #ebe9fb;

        }
        .primary-btn {
            min-width: 125px;
            margin-left: 10px;

        }

    }

    .looking-for-applicants-3 {
        .page-title {
            max-width: 680px;
            text-align: center;
        }

        .input-wrapper {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            margin-top: 50px;
        }

        .for {
            width: 100%;
            max-width: 715px;
        }
        .for:nth-child(2){
            margin-top: 15px;
        }

        .for input {
            width: 100%;
            max-width: 700px;
            background-color: white;
            border-radius: 50px;
            padding: 20px;
            display: block;
            box-sizing: border-box;
        }

        .for input::placeholder{
            font-weight:500;
            font-size: 18px;
            line-height: 17px;
            color: #9898A1;
        }

        .form-check {
            display: flex;
            align-items: center;
            justify-content: left;
            gap: 20px;
            margin-top: 25px;
        }

        .form-check .form-check-input {
            border: 1px solid #3a337c;
            border-radius: 100%;
            width: 20px;
            height: 20px;
        }

        .form-check .form-check-label {
            color: #3a337c;
            font-size: 14px;
            font-weight: 500;
            line-height: 17px;
        }

        .bar{
            margin-top: 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            max-width: 715px;
            position: relative;


            .progress-bar {
                min-width: 300px;
                height: 4px;
                border-radius: 50px;
                background-color: #d8d8dd;
            }

            .line {
                height: 100%;
                background-color: #7c74c7;
                width: 100%;
                display: block;
            }

            .html-content p{
                position: absolute;
                margin-top: 15px;
                font-size: 14px;
                font-weight: 500;
                line-height: 17px;
                color: #3A337C;
            }
        }


        .sign {
            display: flex;
            justify-content: left;
            align-items: center;


            .back-sign {
                border: 1px solid #3a337c;
                width: 55px;
                height: 55px;
                border-radius: 100%;
                display: flex;
                align-items: center;
                text-align: center;
                justify-content: center;
            }

            .back-sign img{
                transform:rotate(90deg);
            }

        }

        .back-sign:hover {
            background: #ebe9fb;
        }
        .primary-btn {
            min-width: 125px;
            margin-left: 10px;
        }

    }


    .looking-for-applicants-4 {
        .page-title {
            max-width: 680px;
            text-align: center;
            margin-bottom: 0;
        }

        .html-content{
            max-width:730px;
            text-align: center;
            margin-top: 15px;
        }
    }
    @media (max-width: 576px) {
        .looking-for-applicants-1{
            max-width:355px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            .page-title{
                font-size: 40px;
                line-height: 50px;
                font-weight: 700;
                align-items: center;
                max-width: 295px;
            }

            .input-wrapper,
            .job-list {
                border: 1px solid salmon;

                .input {
                    max-width: 355px;
                    margin-right: 0;
                }
            }
        }

        .looking-for-applicants-2 {
            max-width: 355px;
            margin-top: 90px;
            margin-bottom: 200px;
            .for{
                display: flex;
                flex-direction: column;
                max-width: 355px;
            }
            
            .bar{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        }
    }
}


