/*GLOBALS*/

@media (max-width: 992px) {
    * {
        box-sizing: border-box;
    }
    .container{
        padding-inline: 18px;
    }

    .page-title{
        font-weight: 700;
        font-size: 40px;
        line-height: 50px;
        color: black;
    }

    span {
        color: #3a337c;
    }

    .html-content {
        font-weight: 400;
        font-size: 17px;
        line-height: 27px;
        color:#717178;

    }
    .section-title{
        font-weight: 700;
        font-size: 32px;
        line-height: 32px;
        color: black;
    }
    .medium-title{
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        color:#3A337C;
    }
    .small-title{
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        color:#7C74C7;
    }

    h4{
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color:#3A337C;
    }

    .paragraph{
        display: flex;
        flex-direction: column;
    }

    .primary-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #3A337C;
        color: white;
        text-align: center;
        font-size: 15px;
        line-height: 15px;
        font-weight: 500;
        padding: 15px 45px;
        cursor: pointer;
        transition: 0.3s;
        border-radius: 28px;
        width: fit-content;
        min-width: 176px;

        &.transparent{
            color:#7C74C7;
            background-color: white;
        }
    }
}

/*PAGES*/

@media (max-width: 992px) {
    .hero {
        margin-top: 90px;
        position: relative;
        overflow: hidden;
        padding-bottom: 50px;

        .page-title {
            max-width: 355px;
        }
        .html-content{
            margin-top: 15px;
            max-width: 440px;;
        }
        .btns {
            display: flex;
            flex-direction: column;
            margin-top: 45px;
            padding:0;

            .primary-btn{
                width: 100%;
                font-size: 15px;
                line-height: 16px;
                font-weight: 500;
                padding: 20px;

                &.transparent{
                    background-color: white;
                }
            }
        }

        .background {
            position: absolute;
            top: 10%;
            left: 10%;
            z-index: -1;
            width: 100%;
        }
        .background img {
            width: 100%;
            height: auto;
            flex: 1;
            min-width: 940px;
            color: #d8d8d8;
        }
    }

    .hena {
        margin-top: 70px;
        margin-inline:auto ;
        .html-content{
            margin-top:15px;
            max-width: 320px;
        }

        .positions-swiper{
            max-width:300px;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .swiper-slide:nth-child(odd) {
            margin-top: 0;
        }
        .swiper-wrapper {
            display: flex;
            flex-direction: column;
            height: auto;
        }

        .category {
            position: relative;
            cursor: pointer;
        }

        .category .carta {
            max-height: 300px;
            max-width: 300px;
            display: flex;
            justify-content: center;
        }

        .positions img {
            max-width: 300px;
            max-height: auto;
            aspect-ratio: 1/1;
            object-fit: cover;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            max-width: 300px;
            background: #1f1b40;
            opacity: 23.68%;
            border-radius: 20px;
        }

        .granazi {
            display: none;
        }

        .hoverli {
            display: none;
        }

        .slide-label p {
            position: absolute;
            top: 30px;
            left: 20px;
            color: #FFFFFF;
            font-size: 24px;
            font-weight: 600;
        }
        .primary-btn{
            margin-top: 35px;
        }
    }

    .hdio {
        margin-top: 70px;
        padding: 0;
        display: flex;
        justify-content: center;

        .container{
            margin: 0;
            padding-inline:0;
            max-width: 355px;
        }
        .row{
            display: flex;
            flex-wrap: wrap;
        }
        .col-12{
            .aboutus-content{
                min-width: 355px;
                margin-top: 0;
            }
        }

        .section-title{
            margin-top: 15px;
        }
        .html-content{
            margin-top: 15px;
        }

        .primary-btn{
            margin-top: 35px;
        }

        .about{
            margin-top: 55px;
            img{
                border-radius: 25px;
            }
        }

    }

    .htria {
        margin-top: 70px;
        max-width: 355px;
        margin-inline:auto;
        border: 1px solid blue;

        .services,
        .svg,
        .primary-btn{
            display: none;
        }


        .swiper-wrapper {
            display: flex;
            flex-direction: column;
            width: 100%;


            .swiper-slide{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top:35px;
                max-width: 300px;
            }

            .swiper-slide-one{
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-top: 80px;
            }

            .html-content{
                margin-top: 15px;
                text-align: left;
                max-width: 300px;
            }
            .medium-title{
                min-width: 300px;
            }

            .recru-image {
                margin-top: 35px;
                max-height: auto;
                object-fit: cover;
                aspect-ratio: 1/1;
                position: relative;

                div{
                    border-radius: 100%;
                    background-color: #7c74c7;
                    position: absolute;
                }
            }
            .recru-image img {
                width: 100%;
                max-width: 300px;
                height: auto;
                border-radius: 100%;
                object-fit: cover;
                aspect-ratio: 1/1;
            }

            .small {
                width: 35px;
                height: 35px;
                top: 280px;
                left: 15px;
            }
            .medium {
                width: 46px;
                height: 46px;
                top: 0;
                left: 45px;
            }
            .large {
                width: 75px;
                height: 75px;
                bottom: 0;
                right: 15px;
            }
        }

        .swiper-slide-one {
            .recru-image div{
                background-color: #3A337C;
            }



        }

        .primary-btn{
            margin-top: 60px;
            margin-inline:auto ;
        }
    }

    .htessera{
        margin-top:70px;
        .row{
            min-width: 355px;
        }
        .section-title{
            margin-top: 15px;
            text-align: center;
            line-height: 40px;
            max-width: 355px;
        }

        .news-list:nth-of-type(2){
            margin-top: 55px;
        }
        .news-list{

            .html-content{
                line-height: 16px;
                font-size: 16px;
                font-weight: 400;
                margin-top: 15px;
                padding-bottom:40px;
            }
        }

        .news-info{
            margin-top: 40px;
            h4{
                margin: 0;
                padding: 0;
                font-weight: 400;
                font-size: 18px;
                line-height: 28px;
                color:#3A337C;
                max-width: 265px;
            }
        }

        .click-info {
            position: relative;
            margin-top: 30px;
            align-items: end;
            display: flex;
        }

        .circle-btn{
            min-width: 40px;
            height: 40px;
            background-color: #3A337C;
            aspect-ratio: 1/1;
            cursor: pointer;

            img{
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .click-info:hover .circle-btn {
            opacity: 1;
        }

        .click-info:hover .circle-btn-blue,
        .click-info:hover .circle-btn-blue img {
            opacity: 0;
        }

    }

    .hpente {
        padding-top: 70px;
        .col{
            padding-block: 75px;
            padding-inline: 30px;
        }

        .applicants {
            max-width:290px;
            height: auto;
        }
    }

    .hforma {
        margin-top: 70px;
        border-radius: 0;
        display: block;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        padding-top: 80px;
        padding-bottom: 120px;
        .container{
            min-width: 355px;
        }

        .html-content{
            display: none;
        }
        .small-title{
            color:#7C74C7;
            margin-bottom: 15px;
        }
        .page-title h1 {
            min-width: 305px;
        }

        .firstname,
        .lastname{
            color: #3a337c;
            font-size: 17px;
            font-weight: 500;
            display: flex;
            text-align: start;
            padding-left: 10px;
        }
        .row-name{
            display: flex;
            flex-direction: column;
            margin-top: 40px;
            padding-block: 15px;

            .input-wrapper{
                width: 100%;
            }
        }

        .input-wrapper {
            width: 100%;
        }

        .email,
        .message {
            color: #3a337c;
            font-size: 17px;
            font-weight: 500;
            display: flex;
            text-align: start;
            padding-left: 10px;
        }

        .message{
            padding-block:20px;
        }

        sup {
            font-size: 17px;
            font-weight: 500;
            margin-top: 20px;
        }

        .form-control {
            border-radius: 32px;
            padding: 20px;
            color: #9898a1;
        }

        .input-wrapper #message {
            min-height: 200px;
            border-radius: 29px;
        }

        .form-check {
            width: 100%;
            display: flex;
            justify-content: left;
            align-items: center;
            gap: 15px;
            margin-block:35px;

        }
        .form-control::placeholder {
            color: #9898a1;
            font-size: 16px;
            line-height: 17px;
            font-weight: 500;
        }

        .form-check .form-check-input {
            border: 1px solid #3a337c;
            border-radius: 100%;
            width: 20px;
            height: 20px;
            background-color: #e2dffe;
        }

        .form-check .form-check-label {
            color: #3a337c;
            font-size: 14px;
            font-weight: 500;
        }

        .primary-btn {
            width: 100%;
            margin-top: 25px;
        }
    }
}
