.servicesblade{
    .shero {
        position: relative;
        overflow: hidden;
        padding-bottom: 235px;

        .html-content{
            margin-top:20px;
        }

        .btns {
            padding-top:40px;
        }

        .background {
            display: block;
            position: absolute;
            left: 40%;
            top: -140%;
            right: -35%;
            z-index: -1;
        }

        .background img {
            flex: 1;
            width: 100%;
            height: auto;
        }

    }

    .sena{
        border-bottom-right-radius: 50px;
        border-bottom-left-radius: 50px;
        background-color: white;
        padding-block: 150px;


        .services-info{
            display: flex;
            align-items: center;
            justify-content:space-between;
        }
        .page-title{
            border-bottom:10px solid #7C74C7 ;

        }

        .html-content{
            max-width: 715px;
        }

        .selection{
            display: flex;
            flex-direction: column;
            gap:20px;
            margin-top:45px;


            a{
                display: flex;
                gap:25px;
                font-weight: 600;
                font-size: 22px;
                color: #3A337C;
            }
        }
    }


    .sdio{
        background-color: #EBE9FB;
        border-bottom-right-radius: 50px;
        border-bottom-left-radius: 50px;
        padding-block: 110px;

        .recru-solutions{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }

        .services-section-title {
            font-weight: 700;
            font-size: 55px;
            line-height: 60px;
            color: black;
        }

        .html-content {
            max-width: 490px;
            margin-top:20px;
        }

        .solutions-image {
            position: relative;
            display: flex;
        }
        .solutions-image img {
            position: relative;
            width: 100%;
            max-width: 465px;
            height: auto;
            aspect-ratio: 1/1;
            border-radius: 100%;
            object-fit: cover;
        }
        .small,
        .medium,
        .large {
            background-color: #3A337C;
            border-radius: 100%;
        }

        .small {
            position: absolute;
            width: 53px;
            height: 53px;
            top: 450px;
            left: 0px;
        }
        .medium {
            position: absolute;
            width: 71px;
            height: 71px;
            top: 15px;
            left: 60px;
        }
        .large {
            position: absolute;
            width: 115px;
            height: 115px;
            bottom: 20px;
            right: 50px;
        }

    }

    .stria{
        border-bottom-right-radius: 50px;
        border-bottom-left-radius: 50px;
        padding-top: 125px;
        padding-bottom: 130px;
        background-color: white;

        .solutions-image {
            position: relative;
            display: flex;
        }
        .solutions-image img {
            position: relative;
            width: 100%;
            max-width: 465px;
            height: auto;
            aspect-ratio: 1/1;
            border-radius: 100%;
            object-fit: cover;
        }
        .small,
        .medium,
        .large {
            background-color: #7C74C7;
            border-radius: 100%;
        }

        .small {
            position: absolute;
            width: 53px;
            height: 53px;
            top: 450px;
            left: 0px;
        }
        .medium {
            position: absolute;
            width: 71px;
            height: 71px;
            top: 15px;
            left: 60px;
        }
        .large {
            position: absolute;
            width: 115px;
            height: 115px;
            bottom: 20px;
            right: 50px;
        }


        .recru-solutions{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-top: 50px;
            min-width: 605px;

            .services-section-title {
                font-weight: 700;
                font-size: 55px;
                line-height: 60px;
                color: black;
            }

            .html-content {
                max-width: 490px;
                margin-top:20px;
            }
        }

    }

    .hpente {
        padding-top: 0;
        .col {
            padding-block: 185px;
            background-color: #3a337c;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        .section-title {
            color: white;
            margin: 0;
            padding: 0;
        }

        .html-content p{
            color: white;
            margin-top:15px;
            text-align: center;
        }

        .primary-btn{
            min-width: 220px;
            background:white;
            color: #3a337c;
            margin-top: 35px;
            margin-inline:auto;

        }
        .primary-btn:hover{
            border:1px solid #7c74c7;
            color: white;
            background-color: #3a337c;
        }
    }



    @media (max-width: 992px) {
        .shero {
            margin-top: 90px;
            position: relative;
            overflow: hidden;
            padding-bottom: 100px;

            .page-title {
                min-width: 355px;
                text-align: center;
            }
            .html-content{
                margin-top: 15px;
                max-width: 305px;
                text-align: center;
                margin-inline: auto;
            }
            .btns {
                display: flex;
                flex-direction: column;
                margin-top: 45px;
                padding:0;

                .primary-btn{
                    width: 100%;
                    font-size: 15px;
                    line-height: 16px;
                    font-weight: 500;
                    padding: 20px;

                    &.transparent{
                        background-color: white;
                    }
                }
            }

            .background {
                position: absolute;
                top: -60%;
                left: -86%;
                z-index: -1;
                width: 100%;
            }
            .background img {
                width: 100%;
                height: auto;
                flex: 1;
                min-width: 940px;
                color: #d8d8d8;
            }
        }

        .sena {
            padding-block: 0;
            margin-top: 110px;
            border: 1px solid #f9f8fc;


            .services-info{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }

            .page-title{
                border-bottom:5px solid #7C74C7 ;
            }

            .html-content{
                margin-top: 30px;
                min-width: 355px;
                max-width: 400px;
            }
            .selection{
                display: flex;
                gap: 25px;
                padding-bottom: 70px;
            }

            .selection span{
                font-weight: 600;
                font-size: 17px;
                line-height: 17px;
                margin-left: 5px;

            }
            .selection a{
                font-size:17px;
            }
        }

        .sdio{
            background-color: #EBE9FB;
            border-radius: 50px;
            z-index: -1;


            .services-section-title{
                font-size: 24px;
                font-weight: 700;
                line-height: 32px;
                color: #3A337C;
                max-width: 300px;
                margin-right: 35px;

            }

            .recru-solutions{
                margin-inline:auto;
            }

            .html-content{
                max-width: 300px;
            }

            .solutions-image {
                max-width: 300px;
                margin-inline:auto;
                margin-top: 35px;

                div {
                    background-color: #7C74C7;
                }
                .small {
                    width: 35px;
                    height: 35px;
                    top: 280px;
                    left: 15px;
                }
                .medium {
                    width: 46px;
                    height: 46px;
                    top: 0;
                    left: 45px;
                }
                .large {
                    width: 75px;
                    height: 75px;
                    bottom: 0;
                    right: 15px;
                }

            }

        }

        .stria {
            padding-top: 75px;
            padding-bottom: 0;
            .recru-solutions{
                max-width: 305px;
                min-width: 300px;
                margin-inline:auto ;

                .services-section-title{
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 32px;
                    color: #3A337C;
                    max-width: 300px;
                }
                .html-content{
                    max-width: 300px;
                }
            }

            .solutions-image {
                max-width: 300px;
                margin-inline:auto;
                margin-top: 35px;

                div {
                    background-color: #3A337C;
                }
                .small {
                    width: 35px;
                    height: 35px;
                    top: 280px;
                    left: 15px;
                }
                .medium {
                    width: 46px;
                    height: 46px;
                    top: 0;
                    left: 45px;
                }
                .large {
                    width: 75px;
                    height: 75px;
                    bottom: 0;
                    right: 15px;
                }

            }
        }

        .hpente{
            padding-top: 70px;
        }

    }

}


















































