header {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 2;
    background-color: transparent;

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 35px 65px;
      
        
        a img{
            margin-top: 10px;
            max-width: 170px;
            width:100%;
            height: auto;
        }

    }

    .navbar {
        overflow: hidden;
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap:40px;
        margin-top: 20px;
   

        a{
            color: black;
            font-size: 15px;
            font-weight: 500;
            line-height: 15px;
            padding-inline: auto;
            margin-top: 5px;
            
            
        }

    }

    .navbar #icon {
        display: none;
    }

    // .navbar a img {
        // display: none;
        // position: fixed;
        // top: 0;
        // left: 0;
    // }

    .navbar a:hover {
        border-bottom: 5px solid #7c74c7;
    }

}
